.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;

  border-radius: 8px;
  box-shadow: 0px 0px 5px blue;
}

.card:hover {
  scale: 1.05;
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  box-shadow: 0px 0px 5px red;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.card-price {

}