.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.card:hover {
  scale: 1.05;
  cursor: pointer;
}

.card-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card-title {
  font-size: 18px;
  color: black;
}

.card-price {
  font-size: 16px;
  color: black;
}

/* CART STYLES */
.cart-card {
  border: 1px solid gray;
  font-family: inherit;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-info-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  box-shadow: none;
}

.cart-item-info-right {
  color: black;
  display: flex;
  flex-direction: column;
}

.cart-right-items {
  display: flex;
  align-items: center;
  gap: 64px;
}

.cart-item-quantity-container {
  display: flex;
  gap: 1rem;
}

.cart-item-quantity {
  display: flex;
}

.cart-item-quantity > button,
.cart-delete-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(214, 144, 97);
  color: black;
  border: none;
  cursor: pointer;
  padding: 8px 14px;
}

.cart-qty-input {
  width: 40px;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  background-color: rgb(228, 169, 130);
  border: none;
}

.cart-item-quantity > button:hover,
.cart-delete-btn:hover {
  background-color: rgb(231, 107, 23);
}

.go-to-cart-btn:hover {
  background-color: rgb(105, 105, 224);
}

.cart-item-quantity > button:disabled {
  background-color: rgb(148, 137, 131);
  cursor: default;
}

/* RESULT CART STYLES */
.result-card-link {
  text-decoration: none;
  color: black;
}

.result-card {
  padding: .5rem;
}

.result-card:hover {
  background-color: rgb(255, 198, 91);
}