.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;

  border-radius: 8px;
  box-shadow: 0px 0px 5px blue;
}

.card:hover {
  scale: 1.05;
  cursor: pointer;
}

.card-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  box-shadow: 0px 0px 5px red;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

/* CART STYLES */
.cart-card {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-info-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  box-shadow: none;
}

.cart-item-info-right {
  display: flex;
  flex-direction: column;
}

.cart-item-quantity-container {
  display: flex;
  gap: 1rem;
}

.cart-item-quantity {

}

.cart-qty-input {
  width: 4rem;
}

/* RESULT CART STYLES */
.result-card-link {
  text-decoration: none;
  color: black;
}

.result-card {
  padding: .5rem;
}

.result-card:hover {
  background-color: rgb(255, 198, 91);
}