/* CART PAGE STYLES */

/* EMPTY CART */
.cart-page-empty {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* FULL CART */
.cart-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}

.cart-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 16px;
}

.cart-header {
  font-size: 24px;
  font-weight: bold;
}

.cart-continue,
.checkout {
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(214, 144, 97);
  color: black;
  border: none;
  cursor: pointer;
  padding: 8px 14px;
}

.cart-continue:hover,
.checkout:hover {
  background-color: rgb(231, 107, 23);
}

.checkout {
  background-color: rgb(181, 181, 253);
  animation-name: btn-pulse;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes btn-pulse {
  from {
    background-color: rgb(181, 181, 253);
  }
  to {
    background-color: rgb(233, 140, 140);
  }
}

.checkout:hover {
  background-color: rgb(119, 119, 248);
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-data-headers {
  display: flex;
  justify-content: space-between;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.cart-subtotal {
  display: flex;
  gap: 16px;
  font-size: 20px;
  font-weight: bold;
}

.shipping-msg {
  font-size: 14px;
  color: rgb(63, 63, 63);
}