/* FULL CATALOG */
.catalog {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.catalog-header {
  width: 100%;
  background-color: rgb(210, 126, 216);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 18px;
}

.catalog-items,
.featured-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

/* FEATURED */
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-header {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  background-color: rgb(197, 233, 97);
  border-radius: 16px
}

/* DETAIL PAGE */
.detail-page {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail-page-icon > path {
  fill: rgb(0, 0, 0);
}

.detail-img-container {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img {
  width: 500px;
}

.detail-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.detail-qty-container {
  display: flex;
  gap: 24px;
}

.detail-qty-btns {
  display: flex;
}

.detail-qty-btns > button,
.detail-add-to-cart,
.go-to-cart-btn{
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(214, 144, 97);
  color: black;
  border: none;
  cursor: pointer;
  padding: 8px 14px;
}

.go-to-cart-btn {
  background-color: rgb(140, 140, 224);
}

.detail-qty-btns > input {
  width: 40px;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  background-color: rgb(228, 169, 130);
  border: none;
}

.detail-qty-btns > button:hover,
.detail-add-to-cart:hover {
  background-color: rgb(231, 107, 23);
}

.go-to-cart-btn:hover {
  background-color: rgb(105, 105, 224);
}

.detail-qty-btns > button:disabled {
  background-color: rgb(148, 137, 131);
}

/* CART ADD MODAL */
.cart-add-modal {
  position: absolute;
  left: 0;
  top: 10%;
  background-color: rgb(0, 204, 255);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation-name: cartModal;
  animation-duration: 1s;
  animation-direction: normal;
}

.cart-add-text {
  font-weight: bold;
}

.cart-add-img {
  width: 100px;
  height: 100px;
  border-radius: 25%;
}

.hidden {
  display: none;
}

@keyframes cartModal {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}


