/* FULL CATALOG */
.catalog {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.catalog-header {
  font-size: 24px;
  padding: 8px;
}

.catalog-items,
.featured-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

/* FEATURED */
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-header {
  font-size: 24px;
  padding: 8px;
}

/* DETAIL PAGE */
.detail-page {
  height: 100%;
  padding: 1rem;
}

.detail-img {
  width: 500px;
}

/* CART ADD MODAL */
.cart-add-modal {
  position: absolute;
  left: 0;
  top: 10%;
  background-color: rgb(0, 204, 255);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation-name: cartModal;
  animation-duration: 1s;
  animation-direction: normal;
}

.cart-add-text {
  font-weight: bold;
}

.cart-add-img {
  width: 100px;
  height: 100px;
  border-radius: 25%;
}

.hidden {
  display: none;
}

@keyframes cartModal {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}


