/* FULL CATALOG */
.catalog {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.catalog-header {
  font-size: 24px;
  padding: 8px;
}

.catalog-items,
.featured-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

/* FEATURED */
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-header {
  font-size: 24px;
  padding: 8px;
}
