.navbar {
  background-color: red;
  margin: 0;
  padding: 12px;
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  font-weight: bold;
  text-decoration: none;
}

.cart-icon {
  height: 28px
}

path {
  fill: white;
}
