.navbar {
  background-color: red;
  margin: 0;
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.navbar-right {
  display: flex;
  /* width: 100%; */
  justify-content: right;
  align-items: center;
}

.navbar-link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.icon {
  height: 28px;
  cursor: pointer;
}

path {
  fill: rgb(255, 255, 255);
}

/* SEARCH BAR STYLES */
.search-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.534);
}

.search-container {
  position: absolute;
  overflow: hidden;
  left: 70%;
  background-color: orange;
  opacity: 1;
  width: 30%;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.animate {
  animation: searchSlide .5s;
  transform-origin: 100% 50%;
}

@keyframes searchSlide {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

.search-controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
}

.search-header-text {
  background-color: rgb(255, 198, 91);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-letter {
  font-size: 1.5rem;
}

.filler-span {
  background-color:red;
  width:100%;
  height:1em;
  display:inline-block;
}

.search-input {
  width: 100%;
  display: flex;
}

.search-input > input {
  width: 100%;
  background-color: inherit;
  padding: 4px;
  border: none;
  border-bottom: 1px solid black;
}

.search-input > input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.search-icon > path {
  fill: black;
}
